@import './layout.css';
@import './typography.css';

:root {
    /* Colours */
    --colour-bg: #fafafa;
    --colour-text: #000000;

    /* Defaults */
    background-color: var(--colour-bg);
    color: var(--colour-text);
    text-align: left;

}