/* Defaults */
.page_layout {
    text-align: left;
    margin: 0;

}

.code_block {
    font-family: "Courier New", Courier, monospace;
    margin-left: 8em;
}

h2 {
    margin-left: 2em;
}

p {
    margin-left: 2em;
    margin-right: 2em;
    text-indent: 1.5em;
}

